<div class="hometext">
  <p>In Austria it is known as Secessionsstil after Wiener Secession; in Spanish Modernismo; in Catalan Modernisme; in Czech Secese; in Danish Skønvirke or Jugendstil; in German Jugendstil, Art Nouveau or Reformstil; in Hungarian Szecesszió; in Italian Art Nouveau, Stile Liberty or Stile floreale; in Norwegian Jugendstil; in Polish Secesja; in Slovak Secesia; in Ukrainian and Russian Модерн (Modern); in Swedish and Finnish Jugend. In both English and French it is known as Art Nouveau.</p>
</div>


<div class="img-home">

  <div id="artists">
    <a href="/artists" style="display: block;
    background-image: url('https://78.media.tumblr.com/fdf38100b5a719fbb7a8a542450750d1/tumblr_pa7df9NZzx1ug998ko1_400.jpg');
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    padding-top: 310px;
    font-family: cocotte;
    font-size: 55px;
    text-decoration: none;
    text-align: center;">
    <span style="padding: 5px; background-color: lightpink;">artists</span></a>
  </div>

  <div id="artworks">
    <a href="/artworks" style="display: block;
    background-image: url('https://78.media.tumblr.com/e7a1a2c29983f958b0193967f9ac01da/tumblr_pa7dcnxRm61ug998ko1_400.jpg');
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    font-family: cocotte;
    font-size: 55px;
    padding-top: 310px;
    text-decoration: none;
    text-align: center;"><span style="padding: 5px; background-color: lightpink;">art</span></a>
  </div>

</div>
