<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ART</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- <header><img src="https://cdn.taschen.com/custom/taschen/includes/phpThumb/phpThumb.php/q=90;f=jpg;1640;/media/images/1640/ba_mucha_opener_05133_1511121514_id_1013464.jpg"</header> -->
  <h1><img src="https://78.media.tumblr.com/6ac52debc78e4568dfb75154d7e1ce28/tumblr_pa5u7n43X41ug998ko1_250.png"</h1>
  <div>
    <nav class="flex-container">
    <ul>
      <li>
        <div>
        <a href="/">Home</a>
        <a href="/artists">Artists</a>
        <a href="/artists/new">Add Artist</a>
        <a href="/artworks">Artworks</a>
        <a href="/artworks/new">Add Artwork</a>
      </div>
      </li>
    </ul>
  </nav>
    <%= yield %>
  </div>
</body>
</html>
