<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>COMA</h1>
  <div>
    <nav>
    <ul>
      <li>
        <a href="/">Home</a>
        <a href="/artists">Artists</a>
        <a href="/artists/new">Add Artist</a>
        <a href="/artworks">Artworks</a>
        <a href="/artworks/new">Add Artwork</a>
      </li>
    </ul>
  </nav>
    <%= yield %>
  </div>
</body>
</html>
