<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ART</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><img src="https://78.media.tumblr.com/6ac52debc78e4568dfb75154d7e1ce28/tumblr_pa5u7n43X41ug998ko1_250.png"</h1>
  <div>
    <nav>
      <ul class="flex-container">
        <br>
        <br>
        <li><a href="/">home</a></li>
        <li><a href="/artists">artists</a></li>
        <li><a href="/artists/new">add artist</a></li>
        <li><a href="/artworks">artworks</a></li>
        <li><a href="/artworks/new">add artwork</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Contact_(1997_American_film)">contact</a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
  <footer>
    <a href="https://youtu.be/YLO7tCdBVrA" style="text-decoration: none;">🎨</a>
  </footer>
</body>
</html>
