<h2>Artists</h2>

<div class="artists">

<% for artist in @artists %>
<figure>
  <figcaption>
    <a href="/artists/<%= artist.id %>"> <img src=" <%= artist.image() %>" style="height: 250px;">
    <%= artist.name() %><br>
    <i><%= artist.style() %></i><br></a>
  </figcaption>
</figure>
<% end %>

</div>
