<h2>Artists</h2>

<div class="artists">

<% for artist in @artists %>
<figure>
  <figcaption>
    <img src=" <%= artist.image() %>">
    Name: <%= artist.name() %><br>
    Style: <%= artist.style() %><br>
  </figcaption>
  <a href="/artists/<%= artist.id %>">Show Artist</a>
</figure>
<% end %>

</div>
