<h2>Add Artist</h2>
<form method="POST" action="/artists">
  <div class="form-wrapper">


    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>



    <label for="style">Style:</label>
    <input type="text" name="style" id="style"/>

    <br>

    <input type="submit" value="Add Artist"/>

    <br>

  </div>
</form>
