<form method="post" action="/artists/<%= @artist.id %>/delete">

  <figure>
    <figcaption>
      <img src=" <%= @artist.image() %>">
      Name: <%= @artist.name() %><br>
      Style: <%= @artist.style() %>
    </figcaption>
  </figure>


<input type="submit" value="Delete artist"/>


</form>
