<form method="post" action="/artists/<%= @artist.id %>/delete">

  <figure>
    <figcaption>
      <img src=" <%= @artist.image() %>"><br>
      <%= @artist.name() %><br>
      <i><%= @artist.style() %></i><br>
    </figcaption>
    <input type="submit" value="Delete artist"/>
  </figure>





</form>
